{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div id="dashboard">
    <div>
        <h2>Dashboard</h2>
    </div>
    <div>
        <button id="show-form-button">Create Game</button>
        <div id="form-container" style="display: none;" >
            <form method="POST" action="{{ url_for('create_game') }}">
                <label for="game_title">game title:</label>
                <input type="text" id="game_title" name="game_title" required>
                <br>
                <label for="date_time">date and time:</label>
                <input type="datetime-local" id="date_time" name="date_time" required>
                <br>
                <label for="location">location:</label>
                <input type="text" id="location" name="location" required>
                <br>
                <label for="max_players">max players:</label>
                <input type="number" id="max_players" name="max_players" required>
                <br>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
    <div>
        <h2>current games your in </h2>
        
        {% if user.usergames %}
            <ul>
                {% for usergame in user.usergames %}
                <div>
                <button class="show-game-button">{{ usergame.game.game_title }}</button>
                <div class="game-info-container" style="display: none;" >
                    <ul>
                    <li>Game Time: {{usergame.game.date_time.strftime("%A, %b %d  %I:%M%p") }}</li>
                    <li>Max players: {{usergame.game.max_players }}</li>
                    {% if usergame.game.host_id == usergame.user.user_id %}
                    <li>Hosted by: You</li>
                    {% else %}
                    <li>Hosted by: {{usergame.game.user.username}}</li>
                    {% endif %}
                    <li>Location: {{ usergame.game.location.address}}</li>
                    </ul>
                    {% if usergame.game.host_id == usergame.user.user_id %}                    
                    <form action="{{ url_for('delete_game') }}" method="post" id="delete-form">
                        <input type="hidden" name="game_id" value="{{ usergame.game.game_id }}">
                        <button type="submit" class="btn btn-danger" id="delete-button">Delete Game</button>
                      </form>
                    {% endif %}
                </div>
            </div>
                {% endfor %}
                </ul>
    </div>
        {% else %}
                <p>you are not in any games at the moment</p>
        {% endif %}
    
    <button id="join-btn">JOIN Chat</button>
    <div>
        <a href="/games">
            <button> search for games</button>
        </a>
    </div>
    <div>
        <form action="/logout">
            <input type="submit" value="Logout">
          </form>
    </div>
</div>
<div id="chat" style="display:none;">

    <ul id="chat-messages">
        <li>hi</li>
    </ul>
    <input type="text" id="message" placeholder="Enter a Message">
</div>
    </div>
        <script src="/static/js/dashboard.js"></script>

    </div>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="/static/js/chat.js"></script>
    {% endblock %}