{% extends 'base.html' %}

{% block title %}Hoops{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/map.css"/>
{% endblock %}
{% block body %}
    <div>
      <div>
        <form method="post">
        <div class="form-group">
        <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Enter zip code or city"required>
      <button type="submit" class="btn btn-primary" >Search Games</button>
    </div>
      <div id="games-map"> </div>
      <div>
        <h2>Games in your area</h2>
        <div>
          <ul>
            {% for game in games %}
            <div>
               <button class="show-game-button">{{ game.game_title }}</button>
               <div class="game-info-container" style="display: none;" >
                  <ul>
                    <li>Game Time: {{ game.date_time.strftime("%A, %b %d  %I:%M%p") }}</li>
                    <li>Max players: {{ game.max_players }} / {{ games_num_players[game.game_id]}}</li>
                    <li>Hosted by: {{ game.user.username }}</li>
                    <li>{{ games_num_players}}</li>
                    <li>Location: {{ game.location.address}}</li>
                    <li>
                      <button> 
                        <a href="{{ url_for('join_game', game_id=game.game_id) }}">Join Game </a>
                      </button>
                    </li>
                  </ul>
                </div>
              </li>
            </div>
            {% endfor %}
          </ul>
        </div>
      </div>
      
    <script src="/static/js/games_map.js"></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap">
    </script>
<div>
  <script src="/static/js/games.js"></script>
</div>
{% endblock %}