{% extends 'base.html' %}

{% block title %}Hoops{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/map.css"/>
{% endblock %}
{% block body %}

    <div>
        <h2>Welcome to Hoops!</h2>
        <p>info about the web app!</p>
        <a href="/login">
          <button>Login</button>
        </a>
        <br>
        <a href="/create_account">
          <button>Create an Account</button>
        </a>
    </div>
  <div>
    {% if error != '' %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}
    <div>
      <form method="post">
      <div class="form-group">
      <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Enter zipcode">
    <button type="submit" class="btn btn-primary">Search Games</button>
  </form>
  <div id="homepage-map"> </div>
  <script src="/static/js/homepage_map.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtAC7rkZ9DvBnH11OuCR70ctOlkGZaLzU&callback=initMap">
  </script>
{% endblock %}